<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/members/history" method="post" >
            <div class="form-group">
                <input type="submit" name="name" value="<%= history.user_id %>" class="form-control">
            </div>
    </body>
</html>