<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">ค้นหาจากชื่อจังหวัด</h5>
      <div class="card-body">
        <form action="/search/" method="get">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." name="provinceKeyword">
            <span class="input-group-btn">
              <input type="submit" name="" value="Go" class="btn btn-secondary">
            </span>
          </div>
        </form>
      </div>
    </div>
  
    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">ค้นหาจากภาคในประเทศไทย</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/search/?sectorKeyword=ภาคเหนือ">ภาคเหนือ</a><br>
                <a href="/search/?sectorKeyword=ภาคกลาง">ภาคกลาง</a><br>
                <a href="/search/?sectorKeyword=ภาคอีสาน">ภาคอีสาน</a><br>
                <a href="/search/?sectorKeyword=ภาคใต้">ภาคใต้</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>